{% extends "layout.html" %}
{% block body %}

<div class="container-xxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">Service</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</div>
<div class="service1_image">    
    <img src="{{ url_for('static', filename='img/EBSimplementationPoster.png') }}" alt="">
    <!-- <img src="img/logo.png" alt="Logo"> -->
 
</div>
<hr>
<div class="p-5">
    <h6 class="mb-3">You’re the expert in your business. You understand your processes and how they work. And you also know your company goals. Finding a technology platform and business 
        partner to support those goals isn’t as clear. It’s not always obvious how you can use technology best practices to improve the efficiency and productivity of your business. 
        Oracle E-Business Suite (EBS) provides global, integrated business applications that drive business performance. Whether you’re new to Oracle applications or have an older 
        EBS installation you would like to upgrade, the functionality and support available in the newer versions of Oracle EBS applications can help you achieve your business goals. 
        Yet implementing a new platform can be challenging. It might be necessary to re-design business processes to leverage application functionality. There could be a need to 
        locate and hire permanent staff. Or, you might want to train current employees, who may be unable to complete implementation tasks due to existing responsibilities.</h6><br><br>
        
        
        <h6 class="mb-3">CSS combines technical and industry leading practices to deliver successful business solutions and enables maximized return on investments for your Oracle applications. 
            Leveraging its extensive experience across the various Oracle applications and rich domain expertise CSS enables you to use Oracle applications for your business advantage 
            with robust tools, methodologies, templates and accelerators and supported center of excellence.</h6><br><br>
        

        <h5 class="mb-3">CSS provides full lifecycle implementation and support services for core EBS application modules, including:</h5>

    <span><ul style="font-size: 16px;"><br><br>
        <li>Financial.</li><br>
        <li>Supply Chain Management.</li><br>
        <li>Distribution.</li><br>
        <li>Manufacturing.</li><br>
        <li>Human Resource Management Systems.</li><br>
        <li>Customer Relationship Management.</li><br>
    </ul></span>

    <p style="font-size: 16px;"><b>Our experts implement EBS functionality to improve and support your current and future business processes.</b></p><br><br>

    <h4 class="mb-3">Benefits:</h4>

    <span><ul style="font-size: 16px;"><br><br>
        <li><b>IMPROVED BUSINESS PROCESSES :</b>&nbsp;&nbsp;The best practices of a combined Oracle-CSS solution can help you streamline and optimize your business processes. Based on our field-proven 
			experience, we help you navigate critical “customization vs. business process change” decisions and ensure the best outcome for your business.</li><br>
        <li><b>EFFICIENT IMPLEMENTATION :</b>&nbsp;&nbsp;CSS can help leverage your current staff during implementation, saving your business time and money. Our proven project management 
			methodology helps ensure your project stays on-time and on-budget.</li><br>
        <li><b>SCALABLE PLATFORM :</b>&nbsp;&nbsp;both from a technical and functional perspective, you know your business will evolve. We can help you set up and support an Oracle platform that will grow easily with you. From training to managed services, CSS can also deliver the post-implementation support you need.</li>
    </ul></span>


</div>



       

        {% endblock %}